{{! views/users/user-profile.hbs }}
<h1>HOLA</h1>

{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p>This is your profile page</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}

<a href="/main">Main</a>
<a href="/private">Private</a>